<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie - CONNEXION</title>
    <link rel="icon" type="image/x-icon" href="/img/Logoheadertransparent.svg">
    <link rel="stylesheet" href="/css/style.css">


</head>

<params>




    <div class="header" style="font-size: 20px;"> PHARMACIE SAUTEUHZ </div>

    <div class="mainContainer">


        <form class="connexionForm" action="/connexion" method="post" id="form">
            <h1> PORTAIL PHARMACIENS </h1>
            <div class="align">
                <label class="labelConnexion" for="email">Adresse Mail :</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="align">
                <label class="labelConnexion" for="mdp"> Mot de passe :</label>
                <input type="password" name="mdp" id="mdp">
            </div>

            <button class="btnSubmit" type="submit">CONNEXION</button>

        </form>
    </div>

<%- include('footerModif') %>